@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #020617; /* dark navy, premium look */
  color: #eae5ec; /* light grey text */
  scroll-behavior: smooth;
}


@keyframes float{

0%{
transform: translateY(0px);
}

50%{
transform: translateY(-10px);
}

100%{
transform: translateY(0px);
}

}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@keyframes fadeInMsg{

from{
opacity:0;
transform:translateY(10px);
}

to{
opacity:1;
transform:translateY(0);
}

}